.start-page-content .page-header {
  background-color: rgba(0, 0, 0, 0.5);}
  .pt-page .section-inner {
  background-color: inherit;}
  .start-page-content .page-content {
  background: #fff;
}
.custom-page-content .page-header.color-1 {
  background-color: rgba(0, 0, 0, 0.5);}

body > footer .copyrights {
  color: #fff;
}
.page-header {
  border-bottom: none;
}

.service-pg i{
  max-width: 100px;
  height: 64px;
  margin: 35px 0;
}
.block-title h3 {text-align: center; border-bottom: 1px solid black;border-bottom: 1px solid rgba(0, 0, 0, 0.45);
}
.site-main-menu li a, .site-main-menu li a:hover {

  color: #f5f5f5;}
  .site-title {
  color: #ffffff;}
    .site-title span {
  color: #000;}
.header.mobile-menu-hide.sticked .site-title span {
  /*color: #2196F3;*/
 color: #0076d4;
	color: #e5dc13;
}
  @media only screen and (min-width: 991px){
.header.sticked {
  background-color: #000;}
  
  }
  
  .start-page-content .social-links a {
  display: inline-block;
   width: inherit; 
   height: inherit;
  border-radius: 24px;
   background:none; 
    
  }
  .start-page-content .social-links a i {
  font-size: 43px;
}
.start-page-content .social-links a {
  line-height: 65px;
  text-shadow: 2px 2px 10px #0000007a;
  transition: 0.6s;
  color: #fbfbfb;
}
.start-page-content .social-links a:hover {
  transition: 0.6s;
  color: #ffcc00;
}

.service-pg.bg-primary i {

  color: #337ab7;
}
.service-pg.bg-primary .block-title h3 span {
  color: #fafafa;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    /*overflow: scroll;*/
}

.service-image {

  background-color: #337ab7;
  color: #fff;
}

.row.service-pg.bg-primary .service-image {

  background-color: #fff;
  color: #337ab7;
}
.dark {
background-color: #000;}
.start-page-content .page-header .title-block h1 {
	color: #ffd100;}

@media only screen and (max-width: 991px){
.header {
  width: 100%;
  max-width: 230px;
  height: calc(100% - 50px);
  right: 0;
  top: 50px;
  z-index: 1001;
  overflow: auto;
  background-color: #2196F3;
  -webkit-box-shadow: -11px 12px 16px 9px rgba(0,0,0,0.2);
  -moz-box-shadow: -11px 12px 16px 9px rgba(0,0,0,0.2);
  box-shadow: -11px 12px 16px 9px rgba(0,0,0,0.2);
  -webkit-transition: all 0.44s ease-in-out;
  -moz-transition: all 0.44s ease-in-out;
  -o-transition: all 0.44s ease-in-out;
  -ms-transition: all 0.44s ease-in-out;
  transition: all 0.44s ease-in-out;
}
}
.service-pg .block-title h3 {
  font-size: 30px;
  margin: 10px 0 20px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 991px){
.mobile-header {
  position: fixed;
  display: inline-block;
  width: 100%;
  max-width: 100%;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #000000;
}}
.service-block h4 {
  font-size: 22px;
  padding: 20px 0 0;
}
.single-page-content .content-area {
  position: relative;
	background-color: rgba(255, 255, 255, 0.7);}
.start-page-content .social-links a i {
  font-size: 41px;
  padding: 0px 5px;
}

.start-page-content .social-links a {
  /* line-height: 65px; */
  text-shadow: 2px 2px 10px #0000007a;
  transition: 0.6s;
  color: #fbfbfb;
}
.btn-secondary, .btn-secondary:hover, .btn-secondary:focus {
  background-color: #f5d80c;
  color: #212121;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 2px 4px rgba(0,0,0,0.3);
}
.service-pg i {
  max-width: 100px;
  height: 61px;
  margin: 30px 0;
}
.info-list li .title {
  display: inline-block;
  min-width: 90px;
}

@media only screen and (max-width: 769px){
.start-page-content .page-header {
  padding: 50px 20px;
  margin: 0;
	}}
@media only screen and (max-width: 769px){
.blog-post-content {
  padding: 15px;
  margin: 30px 0 0;
	}}