html, body {
  width:100%;
  height:100%;
}

body {
  font-family:'Open Sans', sans-serif;
  font-size:14px;
  color:#222222;
  -webkit-font-smoothing:antialiased;
  background:#ffffff;
  position:relative;
}

a {
  color:#F3898A;
  -webkit-transition:0.2s;
  -moz-transition:0.2s;
  transition:0.2s;
  padding-bottom:10px;
}

a:hover {
  color:#FF8A8A;
  text-decoration:none;
}

#loader {
  background:#ffffff;
  bottom:0;
  height:100%;
  left:0;
  position:fixed;
  right:0;
  top:0;
  width:100%;
  z-index:9999;
}

#loaderInner {
  background:#ffffff url(../images/load.gif) center center no-repeat;
  height:60px;
  left:50%;
  position:absolute;
  top:50%;
  width:60px;
}

#headerBar {
  z-index:999;
  width:100%;
  height:auto;
  min-height:80px;
  -webkit-transition:0.2s cubic-bezier(.58,.83,.57,.84);
  -moz-transition:0.2s cubic-bezier(.58,.83,.57,.84);
  transition:0.2s cubic-bezier(.58,.83,.57,.84);
  position:fixed;
  top:0px;
  background:#fff;
  -webkit-box-shadow:0px 7px 16px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:0px 7px 16px 0px rgba(50, 50, 50, 0.1);
  box-shadow:0px 7px 16px 0px rgba(50, 50, 50, 0.1);
}

#headerBar .container {
  padding:0;
}

.headerLeft {
  text-align:left;
  margin-top:10px;
  padding-left:10px;
}

.headerRight {
  text-align:left;
  padding:0;
}

.navbar-collapse {
  padding-left:0px;
}

.navbar {
  margin-bottom:0;
  -webkit-padding-start:0px;
}

.navbar li {
  display:inline-block;
  margin:0 10px;
}

.navbar li a {
  font-weight:400;
  font-size:13px;
  line-height:80px;
  letter-spacing:3px;
  text-decoration:none;
  z-index:999;
  padding:10px 0;
  -webkit-transition:0.3s;
  -moz-transition:0.3s;
  transition:0.3s;
  text-transform:uppercase;
}

.navbar li.active a {
  border-bottom:1px solid #FF8A8A;
  border-top:1px solid #FF8A8A;
  color:#FF8A8A;
}

.navbar-toggle {
  font-size:30px;
  cursor:pointer;
}

.sectionTitle {
  text-align:center;
  padding-top:75px;
}

.sectionTitle h1 {
  letter-spacing:1px;
  font-size:24px;
  font-weight:600;
  text-transform:uppercase;
}

.sectionTitle h4 {
  letter-spacing:1px;
  font-size:12px;
  font-weight:400;
  text-transform:uppercase;
  padding-bottom:5px;
}

.sectionTitle p {
  font-size:18px;
  font-weight:300;
  line-height:25px;
  color:#787878;
  font-family:'Alegreya', serif;
  font-style:italic;
}

.sectionTitle .separatorlineblack {
  margin-bottom:30px;
}

.sectionTitle .separatorlineblack.nomargin {
  margin-bottom:0px;
}

.separatorlineblack {
  width:100%;
  height:1px;
  margin:0 auto;
  background:#000;
  opacity:0.1;
}

.logo {
  font-size:40px;
  color:#444;
  font-family:'Open Sans', sans-serif;
  font-weight:100;
}

.logo span {
  color:#FF8A8A;
}

#sectionAbout {
  text-align:center;
  background-image:url(../images/portfolio/big/006.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  height:auto;
  width:100%;
  -webkit-box-shadow:inset 0px -9px 33px -5px rgba(0,0,0,0.2);
  -moz-box-shadow:inset 0px -9px 33px -5px rgba(0,0,0,0.2);
  box-shadow:inset 0px -9px 33px -5px rgba(0,0,0,0.2);
}

.aboutContainer {
  padding:0;
}

.aboutRight {
  background-color:#ededed;
  padding:0;
  min-height:750px;
  -webkit-box-shadow:inset 0px -9px 33px -5px rgba(0,0,0,0.1);
  -moz-box-shadow:inset 0px -9px 33px -5px rgba(0,0,0,0.1);
  box-shadow:inset 0px -9px 33px -5px rgba(0,0,0,0.1);
}

.aboutRight h2 {
  font-size:13px;
  text-transform:uppercase;
}

.aboutRightContentTop {
  background:#ffffff;
  padding-top:20%;
  padding-right:10%;
  padding-left:10%;
  padding-bottom:25px;
  text-align:left;
}

.aboutTitle h1 {
  font-size:40px;
  text-transform:uppercase;
  margin-bottom:5px;
  font-weight:900;
}

.aboutTitle h2 {
  margin-top:0;
  color:#777!important;
  text-transform:lowercase!important;
}

.aboutIntro {
  margin-top:30px;
}

.aboutIntro p {
  font-size:17px;
  font-weight:300;
  color:#787878;
  font-family:'Alegreya', serif;
  font-style:italic;
}

.aboutRightContentBottom {
  padding-right:10%;
  padding-left:10%;
  text-align:left;
  padding-top:25px;
  padding-bottom:30px;
}

.aboutRightContentBottom h4 {
  margin:5px 0;
  padding:0;
  text-transform:uppercase;
  font-size:12px;
  letter-spacing:1px;
  line-height:20px;
}

h4.lastChildRCB {
  margin-bottom:40px;
}

.scroll-down {
  border:2px solid #222222;
  color:#222222;
  background:transparent;
  padding:10px 20px;
  text-transform:uppercase;
  font-size:13px;
  font-weight:bold;
}

#sectionResume {
  background:#ffffff;
}

#sectionResume h2 {
  font-size:17px;
  text-transform:uppercase;
  letter-spacing:1px;
  font-weight:600;
  margin-bottom:30px;
}

.resumeStats {
  margin-top:25px;
  text-align:center;
}

.resumeStats span {
  font-size:30px;
}

.resumeStats .col-md-2 {
  transition:background-color .4s;
  padding:50px;
  border-left:1px solid #eee;
  border-top:1px solid #eee;
}

.resumeStats .col-md-2:hover {
  color:#FF8A8A;
}

.statsIconPerc {
  font-size:50px;
  font-weight:500;
  letter-spacing:1px;
}

.statsName {
  text-transform:uppercase;
  font-size:14px;
  font-weight:600;
  letter-spacing:1px;
}

#sectionServices {
  background:#eee;
  padding-bottom:10px;
}

#sectionContact .contactFooter .container #sectionServices {
  background:none;
  padding-bottom:10px;
}

.servicesCol4 {
  padding-top:30px;
  padding-bottom:30px;
  overflow:hidden;
  min-height:125px;
}

.servicesCol5 {
  padding-top:30px;
  padding-bottom:30px;
  overflow:hidden;
  min-height:125px;
}

.servicesCol4 h3 {
  font-size:15px;
  margin-top:0px;
  padding-top:0;
  text-transform:uppercase;
  font-weight:600;
  text-align:left;
}

.servicesCol5 h3 {
  font-size:15px;
  margin-top:0px;
  padding-top:0;
  text-transform:uppercase;
  font-weight:600;
  text-align:left;
}

.servicesCol4 p {
  font-size:16px;
  font-weight:200;
  font-family:'Alegreya', serif;
  text-align:left;
  font-style:italic;
  color:#666;
  padding-top:10px;
}

.servicesCol4 span {
  font-size:40px;
  text-align:center;
  color:#FF8A8A;
}

.servicesCol5 span {
  font-size:40px;
  text-align:center;
  color:#FF8A8A;
}

.servicesLeft {
  float:left;
}

.servicesRight {
  padding-left:23%;
  padding-right:2%;
}

#sectionWorks {
  padding-bottom:100px;
}

#sectionContact {
}

.contactForm {
  max-width:600px;
  /*margin:50px auto;*/
}

.contactForm div {
  margin-top:15px;
}

.contactFooter {
  background-color:#111;
  padding:10px 0 30px 0;
  color:#0099FF;
}

.contactFooter2 {
  background-color:#111;
  padding:10px 0 30px 0;
  color:#0099FF;
}

.footerLeft {
  font-size:13px;
  font-weight:400;
  color:#39F;
  padding-top:15px;
}

input, textarea, select {
  color:#222;
  background:transparent;
  vertical-align:top;
  transition:all 0.25s ease-in-out;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  margin:0;
  padding:1px;
  width:100%;
  height:100%;
  border:0;
  border:1px solid #ccc;
  font-size:13px;
  font-weight:600;
}

input:focus, textarea:focus, select:focus {
  outline:none;
  position:relative;
  z-index:5;
  transition:all 0.25s ease-in-out;
  -webkit-transition:all 0.25s ease-in-out;
  -moz-transition:all 0.25s ease-in-out;
  border:1px solid #222;
}

input.error, textarea.error, select.error {
  border:1px solid #FF8A8A;
}

input.submit {
  width:auto;
  cursor:pointer;
  position:relative;
  background:transparent;
  border:2px solid #222;
  color:#222;
  padding:6px;
  margin:10px 0;
  -webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  -o-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;
  text-decoration:none;
  text-transform:uppercase;
  font-size:15px;
  font-weight:600;
}

input.submit:hover {
  color:#ffffff;
  background:#222;
}

#message {
  margin:1em 0;
  padding:0;
  display:block;
  background:transparent none;
}

#message h1 {
  letter-spacing:1px;
  font-size:20px;
  font-weight:400;
  text-transform:uppercase;
}

#message p {
  font-size:16px;
  font-weight:200;
  font-family:'Open Sans', serif;
  text-align:left;
  font-style:italic;
}

.myfooter {
  background-color:#000;
  padding:10px 0 30px 0;
  color:#0099FF;
}

#myfooter {
  background:#000;
  width:960px;
}

@media screen and (max-width: 768px) {
  .intro-heading h1 {
    font-size:45px;
    line-height:45px;
  }
}

@media screen and (max-width: 768px) {
  .navbar li {
    display:block;
  }
}

@media screen and (max-width: 768px) {
  .navbar li a {
    line-height:40px;
  }
}

@media screen and (max-width: 480px) {
  .resumeStats .col-md-2 {
    padding:20px;
  }
}

#sectionResume h2 {
  margin-top:30px;
  text-align:center;
}

#sectionResume hr {
  border-top:1px solid #FF8A8A;
  opacity:0.2;
}

.resumeblock {
  padding-right:30px;
  padding-left:15px;
  border-left:1px solid #FF8A8A;
  font-family:'Open Sans', sans-serif;
}

.resumeblock h3 {
  font-family:"Open Sans";
  font-weight:600;
  font-size:16px;
}

.resumeblock h3 span {
  float:right;
  color:#FFFFFF;
}

.resumeblock h4 {
  color:#787878;
  font-size:14px;
  font-weight:100;
  margin-top:5px;
  margin-bottom:5px;
}

.resumeblock p {
  font-family:"Alegreya";
  font-style:italic;
  font-size:17px;
  color:#787878;
  font-weight:100;
}

h3.skill {
  font-family:"Open Sans";
  font-weight:600;
  font-size:15px;
}

.skill .open {
  color:#787878;
}

.skill .closed {
  color:#FF8A8A;
}

.skill span {
  float:right;
  margin-right:10px;
}

.da-thumbs {
  list-style:none;
  height:600px;
  position:relative;
}

.da-thumbs li {
  float:left;
  background:#fff;
  position:relative;
  box-shadow:0 1px 3px rgba(0,0,0,0.1);
}

.da-thumbs li h2 {
  margin-bottom:20px;
  font-size:26px;
}

.da-thumbs li a {
  overflow:hidden;
}

.da-thumbs li a, a img {
  display:block;
  position:relative;
}

.da-thumbs li a div {
  position:absolute;
  background:#333;
  background:rgba(75,75,75,0.7);
  width:100%;
  height:100%;
}

.da-thumbs li a div span {
  display:block;
  padding:10px 0;
  text-transform:uppercase;
  font-weight:normal;
  color:rgba(255,255,255,0.9);
}

#isotope-container .item {
  width:25%;
  max-height:440px;
  padding:0;
}

#isotope-container .item img {
  width:100%;
  max-height:100%;
}

.isotope-slider .filters {
  display:table;
  margin:0 auto;
  padding:20px;
}

.isotope-slider .filters button {
  transition:0.2s;
  margin:10px;
}

.isotope-slider .filters button:hover {
  color:#FF8A8A;
}

#mine {
  width:960px;
}

