RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://everydayadventuretreats.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://everydayadventuretreats.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://everydayadventuretreats.shop/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://everydayadventuretreats.shop$      [NC]
RewriteCond %{HTTP_REFERER} !^http://geekbaby.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://geekbaby.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://geekbaby.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://geekbaby.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jocelynescott.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jocelynescott.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jocelynescott.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://jocelynescott.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://me.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://me.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://scottcountyartscouncil.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://scottcountyartscouncil.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://scottcountyartscouncil.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://scottcountyartscouncil.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wordpress.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://wordpress.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.everydayadventuretreats.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.everydayadventuretreats.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.everydayadventuretreats.shop/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.everydayadventuretreats.shop$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.geekbaby.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.geekbaby.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.geekbaby.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.geekbaby.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jocelynescott.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jocelynescott.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jocelynescott.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.jocelynescott.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.me.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.me.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.scottcountyartscouncil.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.scottcountyartscouncil.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.scottcountyartscouncil.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.scottcountyartscouncil.org$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wordpress.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.wordpress.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://everydayadventuretreats.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://everydayadventuretreats.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://everydayadventuretreats.shop/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://everydayadventuretreats.shop$      [NC]
RewriteCond %{HTTP_REFERER} !^https://geekbaby.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://geekbaby.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://geekbaby.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://geekbaby.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jocelynescott.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jocelynescott.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jocelynescott.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://jocelynescott.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://me.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://me.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://scottcountyartscouncil.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://scottcountyartscouncil.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://scottcountyartscouncil.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://scottcountyartscouncil.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wordpress.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://wordpress.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.everydayadventuretreats.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.everydayadventuretreats.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.everydayadventuretreats.shop/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.everydayadventuretreats.shop$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.geekbaby.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.geekbaby.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.geekbaby.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.geekbaby.info$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jocelynescott.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jocelynescott.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jocelynescott.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.jocelynescott.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.me.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.me.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.scottcountyartscouncil.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.scottcountyartscouncil.dawsonrichey.com$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.scottcountyartscouncil.org/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.scottcountyartscouncil.org$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wordpress.dawsonrichey.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^https://www.wordpress.dawsonrichey.com$      [NC]
RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

